<h4>Get Current Weather</h4>
<%= render('form')%>

<% if @current_location %>
<div class="container">
  <th>Most Recent Location: <%= @current_location %></th>
    <h3><%= @latest.temp %> <h3>
</div>
<% end %>
<h4>Recent Conditions</h4>
<%= render('index') %>
