<h4>Get Current Weather</h4>
<%= render('form')%>
<% if @current_location %>
<%= render('recent_conditions')%>
<%= render('clear_location') %>
<% end %>
<h4>Recent Conditions</h4>
<%= render('index') %>
