
<div class="row">
  <div class="col-md-8">

    <% if @current_location %>
    <div class="well">
      <%= render('recent_conditions')%>
    </div>

    <% end %>
  </div>
  <div class="col-md-4">
    <div class="well">
    <%= render('form')%>
    </div>


  </div>

</div>

<div class="row">
  <h4>Recent Conditions</h4>
  <%= render('index') %>
</div>
