 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Lato');

 *{
 	font-family: 'Lato', sans-serif;
 }

#messages{
  max-height: 10vh;
}

#yield{
  min-height: 90vh;
}

#footer{
  max-height: 10vh;
}
